# Konekcija na bazu
DB_SERVER=localhost\SQLEXPRESS
DB_NAME=StateStatisticsDB
DB_TRUSTED_CONNECTION=yes

# Ako se koristi SQL Server Authentication:
# DB_TRUSTED_CONNECTION=no
# DB_USER=tvoj_korisnik
# DB_PASSWORD=tvoja_lozinka
