# LLMS_PROVIDER može biti 'deepseek' ili 'ollama'
LLMS_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL_SMALL=llama3.2:1b

# DEEPSEEK_API_KEY=tvon_api_key

# URL na kojem se vrti Database API
DB_API_URL=http://127.0.0.1:8001
